<h1>GetFit Hub</h1>
<img src="https://cdn-image.realsimple.com/sites/default/files/styles/medium_2x/public/woman-running-shoes.jpg?itok=QQjgu-cU" alt="Person tying a shoe">

<h1>Welcome Back, <%= @user.First_Name %>!</h1>
<br>
<a href="/home/todaysplan">Today's Plan</a>
<br>
<a href="/home/entercalories">Update your calories</a>
<br>
<a href="/home/analyzeweightchange">Analyze your weight change</a>
<br>
<a href="/home/stopwatch">Stopwatch</a>